*.lib
*.dll
*.obj
*.o
*.so
*.dylib
~*
.DS_Store
*.a
*.la
*.lo
*.so
*.exe
*.Po
*.Tlo
*.Plo
*config.log*
*config.status*
*autom4te.cache*
*tags*
Makefile
Makefile.in
.libs
.deps
*.m4
image
configure
libtool
source/buildopts.h
source/coroutine.h
samples/twoCoroTest
samples/twoCoroTestpp
